.nav {
  position: fixed;
  inset-block: 0;
  right: 2rem;
  display: flex;
  align-items: center;
  z-index: 100;
}

.nav-list {
  row-gap: 1.25rem;
}

.nav-link {
  background-color: var(--containercolor);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: relative;
  transition: background 0.3 ease;
}
.nav-close,
.nav-toggle {
  display: none;
}
.nav-icon {
  color: var(--title-color);
  font-size: 1.25rem;
  transition: color 0.3 ease;
}

.nav-link:hover .nav-icon,
.active-nav .nav-icon {
  color: var(--white-color);
}
.nav-name{
    position: absolute;
    top: 0rem;
    right: 0.5rem;
    background-color: var(--first-color);
    height: 100%;
  padding-inline:1.75rem 2.75rem ;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--white-color);
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
 opacity: 0;
  visibility: hidden;
  z-index: -10;
  transition:  opacity 0.5s ease , visibility 0.4s ease ,right 0.5s ease;
}
.nav-link:hover .nav-name{
    opacity: 1;
    visibility: visible;
    right: 0.5rem;
}
.nav-link:hover,
.active-nav {
  background-color: var(--first-color);
}
