/* GOOGLE FONTS */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat+Alternates:wght@500;600;700;800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
/*  VARIABLE CSS*/
:root {
  /*COLORS*/
  --hue: 271;
  --first-color: hsl(var(--hue), 76%, 53%);
  --title-color: hsl(var(--hue), 4%, 26%);
  --text-color: hsl(var(--hue), 4%, 38%);
  --body-color: hsl(var(--hue), 4%, 99%);
  --containercolor: hsl(var(--hue), 4%, 95%);
  --border-color: hsl(var(--hue), 4%, 91%);
  --white-color: hsl(var(--hue), 4%, 100%);
  /* Font Family */
  --body-font: "Montserrat Alternates", sans-serif;
  /*FONT SIZE */
  --h1-font-size: 3.5rem;
  --h2-font-size: 3rem;
  --h3-font-size: 1.5rem;
  --large-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  /* FONT WEIGHT */
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
}

/*=BASE*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
.dark-theme {
   
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 80%);
  --body-color: hsl(var(--hue), 4%, 8%);
  --containercolor: hsl(var(--hue), 4%, 12%);
  --border-color: hsl(var(--hue), 4%, 16%);
}
body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--weight-500);
}
body {
  background-color: var(--body-color);
  color: var(--text-color);
}
h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--weight-800);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body,
input,
textarea {
  background-color: transparent;
  border: none;
  outline: none;
}
img {
  display: block;
  max-width: 100%;
}
/*LAYOUT*/
.grid {
  display: grid;
}
.button {
  display: inline-block;
  color: var(--title-color);
  border: 1px solid var(--first-color);
  padding: 1.25rem 4.5rem 1.25rem 2rem;
  border-radius: 2rem;
  font-size: var(--small-font-size);
  font-weight: var(--weight-600);
  overflow: hidden;
  position: relative;
  transition: color 0.5s ease;
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--first-color);
  border-radius: inherit;
  z-index: -10;
  transform: translateX(100%);
  transition: transform 0.5s ease;
}
.button:hover::before {
  transform: translateX(0);
}
.button-icon {
  position: absolute;
  inset: -1px -1px -1px auto;
  background-color: var(--first-color);
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: var(--white-color);
  font-size: 1.5rem;
  display: grid;
  place-items: center;
}
button:hover {
  color: var(--white-color);
}
.section {
  padding-block: 4rem;
}
.section-title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 4.5rem;
}
.section-title span {
  color: var(--first-color);
}
.container {
  max-width: 1208px;
  margin-inline: auto;
  margin-bottom: 4.5rem;
 
}
body{
    background-color: var(--body-color);
}
@media screen and (max-width:1400px){
    .container{
        max-width: 1008px;
    }
} 
@media screen and (max-width:1200px){
    .container{
        max-width: 1008px;
    }
    .nav-menu{
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--containercolor);
        width: 100%;
        height: 100%;
        padding: 5rem 0 0 3rem;
        z-index: 100;
        transition: right 0.4s ease;
    }
    .showmenu{
      right:0;
    }
    .nav-list{
      row-gap: 2rem;
    }
    .nav-link,.nav-name{
      all: unset;
    }
    .nav-link{
      display: inline-flex;
      align-items: center;
      column-gap: 1rem;
      cursor: pointer;
    }
    .nav-name{
      color: var(--title-color);
      font-size: 1rem;
      font-weight: var(--weight-600);
    }
    .nav-link:hover{
      background-color: initial;
    }
    .nav-icon,.nav-name{
      transition: color 0.4s ease;
    }
    .nav-link:hover :is(.nav-icon,.nav-name),.active-nav :is(.nav-icon,.nav-name){
      color: var(--first-color);
    }
    .nav-close,.nav-toggle{
      display: inline-flex;
      color: var(--title-color);
      cursor: pointer;
      position: absolute;
  
    }
    .nav-close{
      top: 1.25rem ;
      right: 1.5rem;
      font-size: 1.75rem;
     
     z-index: 56;
    }
    .nav-toggle{
      top: 1rem;
      right: -0.75rem;
      width: 40px;
      height: 40px;
      border-radius: .25rem;
      background-color: var(--containercolor);
     display: grid; 
      place-items: center;
      font-size: 1.5rem;
    }
    .color-blockr{
      display: none;
    }
    .home-container{
      grid-template-columns: 5fr 7fr;
      padding: 1.5rem ;
    }
    .button{
      font-size: var(--small-font-size);
    }
    .stats{
      gap: 1.25rem;
    }
    .stats-box{
      padding: 1rem 1.25rem;
    }
    
} 

.vi:hover{
  transform: scale(1.09);
  color: var(--first-color);
}