.portfolio-container{
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.portfolio-card{
    background-color: var(--containercolor);
    padding: 1.6rem;
    border-radius: 1.5rem;
}
.portfolio-skill{
    width: 16px;
}
.portfolio-img-wrapper{
    border-radius: 1.25rem;
    display: block;
    overflow: hidden;
}
.portfolio-img{
    transition: transform 0.4s ease;
}
.portfolio-card:hover .portfolio-img{
transform: scale(1.06);
}
.portfolio-title{
    font-size: var(--large-font-size);
    margin-block: 1.5rem 0.5rem;
}
.portfolio-description{
    font-size: var(--small-font-size);
    line-height: 1.5rem;
}
.portfolio-link{
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    transition: color 0.4s ease;
    margin-top: .7rem;
}
.portfolio-link :hover{
    color: var(--text-color);
}
.link-icon{
    font-size: 1.25rem;
}